---
// Header Component
---

<header>
    <div
        id="vl-header-sticky"
        class="vl-header-area vl-transparent-header vl-transparent-header-4"
    >
        <div class="container vl-header-bg-4">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="vl-logo">
                        <a href="/"
                            ><img
                                src="/assets/img/ocodelogo.png"
                                alt=""
                                class="cs_logo_img"
                            /></a
                        >
                    </div>
                </div>

                <div class="col-lg-6 d-none d-lg-block">
                    <div class="vl-main-menu text-center">
                        <nav class="vl-mobile-menu-active">
                            <ul>
                                <li class="has-dropdown">
                                    <a href="/"
                                        >Home
                                        <span>
                                            <!-- <i class="fa-regular fa-angle-down"
                                            ></i> -->
                                        </span></a
                                    >

                                    <!-- <div class="vl-mega-menu">
                                        <div class="vl-home-menu">
                                            <div
                                                class="row gx-4 row-cols-1 row-cols-lg-4"
                                            >
                                                <div class="col mb-25">
                                                    <div
                                                        class="vl-home-thumb fix p-relative z-index-1"
                                                    >
                                                        <img
                                                            class="w-100"
                                                            src="/assets/img/demo/vl-demo-1.1.png"
                                                            alt=""
                                                        />
                                                        <div
                                                            class="vl-home-btn"
                                                        >
                                                            <div
                                                                class="vl-herobtn vl-aboutbtn vl-upper"
                                                            >
                                                                <a
                                                                    href="/"
                                                                    target="_blank"
                                                                    class="theme-btn theme-btn2"
                                                                    >Multi Page<span
                                                                        ><i
                                                                            class="fa-regular fa-arrow-right"
                                                                        >
                                                                        </i></span
                                                                    ></a
                                                                >
                                                            </div>
                                                            <div
                                                                class="vl-herobtn vl-aboutbtn vl-upper mt-20"
                                                            >
                                                                <a
                                                                    href="/index-1-single/"
                                                                    target="_blank"
                                                                    class="theme-btn theme-btn2"
                                                                    >Single Page<span
                                                                        ><i
                                                                            class="fa-regular fa-arrow-right"
                                                                        >
                                                                        </i></span
                                                                    ></a
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col mb-25">
                                                    <div
                                                        class="vl-home-thumb fix p-relative z-index-1"
                                                    >
                                                        <img
                                                            class="w-100"
                                                            src="/assets/img/demo/vl-demo-1.2.png"
                                                            alt=""
                                                        />
                                                        <div
                                                            class="vl-home-btn"
                                                        >
                                                            <div
                                                                class="vl-herobtn vl-aboutbtn vl-upper"
                                                            >
                                                                <a
                                                                    href="/index2/"
                                                                    target="_blank"
                                                                    class="theme-btn theme-btn2"
                                                                    >Multi Page<span
                                                                        ><i
                                                                            class="fa-regular fa-arrow-right"
                                                                        >
                                                                        </i></span
                                                                    ></a
                                                                >
                                                            </div>
                                                            <div
                                                                class="vl-herobtn vl-aboutbtn vl-upper mt-20"
                                                            >
                                                                <a
                                                                    href="/index-2-single/"
                                                                    target="_blank"
                                                                    class="theme-btn theme-btn2"
                                                                    >Single Page<span
                                                                        ><i
                                                                            class="fa-regular fa-arrow-right"
                                                                        >
                                                                        </i></span
                                                                    ></a
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col mb-25">
                                                    <div
                                                        class="vl-home-thumb fix p-relative z-index-1"
                                                    >
                                                        <img
                                                            class="w-100"
                                                            src="/assets/img/demo/vl-demo-1.3.png"
                                                            alt=""
                                                        />
                                                        <div
                                                            class="vl-home-btn"
                                                        >
                                                            <div
                                                                class="vl-herobtn vl-aboutbtn vl-upper"
                                                            >
                                                                <a
                                                                    href="/index3/"
                                                                    target="_blank"
                                                                    class="theme-btn theme-btn2"
                                                                    >Multi Page<span
                                                                        ><i
                                                                            class="fa-regular fa-arrow-right"
                                                                        >
                                                                        </i></span
                                                                    ></a
                                                                >
                                                            </div>
                                                            <div
                                                                class="vl-herobtn vl-aboutbtn vl-upper mt-20"
                                                            >
                                                                <a
                                                                    href="/index-3-single/"
                                                                    target="_blank"
                                                                    class="theme-btn theme-btn2"
                                                                    >Single Page<span
                                                                        ><i
                                                                            class="fa-regular fa-arrow-right"
                                                                        >
                                                                        </i></span
                                                                    ></a
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col mb-25">
                                                    <div
                                                        class="vl-home-thumb fix p-relative z-index-1"
                                                    >
                                                        <img
                                                            class="w-100"
                                                            src="/assets/img/demo/vl-demo-1.4.png"
                                                            alt=""
                                                        />
                                                        <div
                                                            class="vl-home-btn"
                                                        >
                                                            <div
                                                                class="vl-herobtn vl-aboutbtn vl-upper"
                                                            >
                                                                <a
                                                                    href="/index-4/"
                                                                    target="_blank"
                                                                    class="theme-btn theme-btn2"
                                                                    >Multi Page<span
                                                                        ><i
                                                                            class="fa-regular fa-arrow-right"
                                                                        >
                                                                        </i></span
                                                                    ></a
                                                                >
                                                            </div>
                                                            <div
                                                                class="vl-herobtn vl-aboutbtn vl-upper mt-20"
                                                            >
                                                                <a
                                                                    href="/index-4-single/"
                                                                    target="_blank"
                                                                    class="theme-btn theme-btn2"
                                                                    >Single Page<span
                                                                        ><i
                                                                            class="fa-regular fa-arrow-right"
                                                                        >
                                                                        </i></span
                                                                    ></a
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                             
                                </li>

                                <li><a href="/about/">About us</a></li>

                                <li class="has-dropdown">
                                    <a href="/services/"
                                        >Services <span
                                            ><i class="fa-regular fa-angle-down"
                                            ></i></span
                                        ></a
                                    >

                                    <ul class="sub-menu">
                                       
                                        <li>
                                            <a
                                                href="/services/website-development"
                                                >Website Development</a
                                            >
                                        </li>

                                        <li>
                                            <a href="/services/mobile-app"
                                                >Mobile Apps</a
                                            >
                                        </li>
                                       
                                        <li>
                                            <a href="/services/software-integration"
                                                >Software  Integration</a
                                            >
                                        </li>

                                         <li>
                                            <a href="/services/seo-marketing"
                                                >SEO Marketing</a
                                            >
                                        </li>

                                         <li>
                                            <a href="/services/ui-ux-design">UI / UX Design</a>
                                        </li>

                                    </ul>

                                </li>

                                <!-- <li class="has-dropdown">
                                    <a href="#"
                                        >Pages <span
                                            ><i class="fa-regular fa-angle-down"
                                            ></i></span
                                        ></a
                                    >
                                    <ul class="sub-menu">
                                        <li><a href="/team/">Team</a></li>
                                        <li>
                                            <a href="/testimonial/"
                                                >Testimonial</a
                                            >
                                        </li>
                                        <li>
                                            <a href="/pricing-plan/"
                                                >Pricing Plan</a
                                            >
                                        </li>
                                        <li><a href="/faq/">Faq</a></li>
                                        <li><a href="/contact/">Contact</a></li>
                                        <li><a href="/404/">404</a></li>
                                    </ul>
                                </li> -->

                                <li class="has-dropdown">
                                    <a href="/case-studies/"
                                        >Case Studies <span
                                            ></span
                                        ></a
                                    >
                                    <!-- <ul class="sub-menu">
                                        <li>
                                            <a href="/case-studies/"
                                                >Case Studies</a
                                            >
                                        </li>
                                        <li>
                                            <a href="/case-studies-left/"
                                                >Case Studies Left</a
                                            >
                                        </li>
                                        <li>
                                            <a href="/case-studies-right/"
                                                >Case Studies Right</a
                                            >
                                        </li>
                                        <li>
                                            <a href="/case-studies-single/"
                                                >Case Studies Single</a
                                            >
                                        </li>
                                    </ul> -->

                                </li>

                                <li class="has-dropdown">
                                    <a href="/blog"
                                        >Blog <span
                                            ></span
                                        ></a
                                    >
                                    <!-- <ul class="sub-menu">
                                        <li><a href="/blog/">Blog</a></li>
                                        <li>
                                            <a href="/blog-left/">Blog Left</a>
                                        </li>
                                        <li>
                                            <a href="/blog-right/">Blog Right</a
                                            >
                                        </li>
                                        <li>
                                            <a href="/blog-single/"
                                                >Blog Single</a
                                            >
                                        </li>
                                        <li>
                                            <a href="/blog-sidebar/"
                                                >Blog Standred</a
                                            >
                                        </li>
                                    </ul> -->
                                </li>
                                
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-6">
                    <div class="vl-herobtn d-none d-lg-block fl-right">
                        <a href="/contact/" class="theme-btn"
                            >GET STARTED <span
                                ><i class="fa-regular fa-arrow-right"></i></span
                            ></a
                        >
                    </div>

                    <div class="vl-header-action-item d-block d-lg-none">
                        <button type="button" class="vl-offcanvas-toggle">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="30"
                                height="16"
                                viewBox="0 0 30 16"
                            >
                                <rect
                                    x="10"
                                    width="20"
                                    height="2"
                                    fill="currentColor"></rect>
                                <rect
                                    x="5"
                                    y="7"
                                    width="25"
                                    height="2"
                                    fill="currentColor"></rect>
                                <rect
                                    x="10"
                                    y="14"
                                    width="20"
                                    height="2"
                                    fill="currentColor"></rect>
                            </svg>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<!-- offcanvas menu start -->
<div class="vl-offcanvas vl-offcanvas-bg-1">
    <div class="vl-offcanvas-wrapper">
        <div
            class="vl-offcanvas-header d-flex justify-content-between align-items-center mb-50"
        >
            <div class="vl-offcanvas-logo">
                <a href="/"
                    ><img
                        src="/assets/img/ocodelogo.png"
                        alt=""
                        class="w-50"
                    /></a
                >
            </div>
            <div class="vl-offcanvas-close">
                <button class="vl-offcanvas-close-toggle"
                    ><i class="fal fa-times"></i></button
                >
            </div>
        </div>

        <div class="vl-offcanvas-menu d-lg-none mb-40">
            <nav></nav>
        </div>

        <div class="vl-offcanvas-btnm text-center mb-30">
            <div class="vl-herobtn vl-aboutbtn w-100 vl-upper">
                <a href="/contact/" class="theme-btn theme-btn2"
                    >get started<span
                        ><i class="fa-regular fa-arrow-right"></i></span
                    ></a
                >
            </div>
        </div>
    </div>
</div>
