---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import SecondaryBanner from "../../components/Secondary_banner.astro";
import CTA from "../../components/CTA.astro";
import CaseStudies from "../../components/CaseStudies.astro";
---

<BaseLayout title="O-Code | case-studies">
    <Header />

    <main>
        <SecondaryBanner title="Case-studies" />

        <CaseStudies />

        <CTA />
    </main>

    <Footer />
</BaseLayout>
