---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<BaseLayout title="O-Tech || service-single">
  <Header />
  
  <main>
    <section class="vl-breadcrumb-bg p-relative z-index-1 fix pt-200 pb--70" style="background-image: url(/assets/img/banner/vl-breadcrumb-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 mb-30">
                    <div class="vl-breadcrumb">
                        <h1 class="vl-fs-60 vl-white">Service-single</h1>
                        <div class="vl-breadcrumb-list">
                            <span><a href="/">Home</a></span>
                            <span class="dvir"><i class="fa-solid fa-angle-right"></i></span>
                            <span class="active"><a href="#">service-single</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 mb-30">
                    <div class="vl-hero-img p-relative">
                        <div class="vl-hero-shape-4">
                            <div class="vl-shape-2">
                                <img src="/assets/img/icons/vl-emoji-4.2.svg" alt="">
                            </div>
                            <div class="vl-shape-3">
                                <img src="/assets/img/icons/vl-emoji-4.3.svg" alt="">
                            </div>
                        </div>
                        <div class="vl-breadcrumb-fan">
                            <img class="w-100" src="/assets/img/icons/vl-fan-sm.svg" alt="">
                        </div>
                        <div class="vl-breadcrumb-img">
                           <img src="/assets/img/banner/vl-breadcrumb-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="vl-section-title">Welcome to service-single</h2>
                    <p>Content coming soon...</p>
                </div>
            </div>
        </div>
    </section>
  </main>

  <Footer />
</BaseLayout>
